<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/birthday.css">
    <title>Birthday</title>
</head>
<body>
    <nav class = "nav_bar">
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="hobbies.html">hobbies</a></li>
            <li style="border-bottom: 3px solid white;"><a href="birthday.html">birthday</a></li>
            <li><a href="contact.html">contact_us</a></li>
            <li><a href="sliders.html">slider</a></li>
            <li><a href="cv.html">CV</a></li>
        </ul>
    </nav>
    <div class="container">
    <div id="image" class="card">
        <img src="../resources/birthday.jpeg" alt="birthday">
    </div>
    <div id="submit" class="card">
            <input type="text" id="inputbox"> 
           <button id="enter">submit</button>
    </div>
    <div id="messege" class="card">
        <h2>thanks a lot</h2>
    </div>
    </div>
    <script src="../scripts/birthday.js"></script>
</body>
</html>