<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <title>CV</title>
</head>
<style>
    div {
        display: flex;
        justify-content: center;
        
    }
    .cv {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
        color: deepskyblue;
        font-size: 32px;

    }
    a {
        text-decoration: none;
        color: rgb(2, 46, 71);
        font-weight: bolder;
    }
</style>
<body>
    <nav class = "nav_bar">
        <ul>
            <li><a href="../home.html">home</a></li>
            <li><a href="hobbies.html">hobbies</a></li>
            <li><a href="birthday.html">birthday</a></li>
            <li><a href="contact.html">contact_us</a></li>
            <li><a href="sliders.html">slider</a></li>
            <li style="border-bottom: 3px solid white;"><a href="cv.html">CV</a></li>
        </ul>
    </nav>
    <div>
   <p class="cv">
       wanna see something great?, go in <a href="https://drive.google.com/file/d/1UvHu4B_XnV8ejEqRMEpBKDjWskFGhoHY/view?usp=sharing" target="blank">here</a> and you will be amazed
   </p>
</div>
</body>
</html>